<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835175627482-rlbo9k0jqhfs6l8sonn7shig4ourrq5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835175627482-rlbo9k0jqhfs6l8sonn7shig4ourrq5h</string>
	<key>API_KEY</key>
	<string>AIzaSyDOs72UrJRjA3W26VfQD2Ap7z36yQ9GHsc</string>
	<key>GCM_SENDER_ID</key>
	<string>835175627482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocr</string>
	<key>PROJECT_ID</key>
	<string>ocrsample-49119</string>
	<key>STORAGE_BUCKET</key>
	<string>ocrsample-49119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835175627482:ios:54314b3f6240aa0d3b43e3</string>
</dict>
</plist>